body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/* 
.parallax img {
  /* width: 100%;
  max-width: 100%;
  height: auto; */
  object-fit: cover;
} */

/* @media only screen and(max-width: 600px) {
  .parallax img {
    background-position: top right !important;
  }
} */