body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.zero-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.margin-top-50 {
  margin-top: 50px;
}
.modal-flag-image {
  width: 50%;
  min-width: 350px;
  max-width: 450px;
}
.modal {
  width: 75% !important;
  height: 75% !important;
}